<div *ngIf="name">
  <span style="text-align:center" (click)="getFilterListFindName();optionSelected(rowCard)">{{name}}</span>
  <div class="row" #rowCard>
    <div class="col-xs-12  margin_25 " *ngFor="let actividad of (listActivityFilter | async)">
      <div class="card">
        <header class="card-header position_relative">
          <div class="card-header-title" [ngStyle]="{'backgroundColor': getBackgroundColorFindActividad(actividad)}">
            {{actividad.nombre}}
          </div>
        </header>
        <div class="card-content ">
          <div class="content ">
            {{actividad.comentario}}
          </div>
        </div>
        <footer class="card-footer ">
          <a class="card-footer-item has-text-success" (click)="this.resetFormEjecucion();seleccionarActividad(actividad);toogleFormEjecucion()">
            <span class="icon is-large ">
              <i class="material-icons" style="font-size: 2rem">details</i>
            </span>
          </a>
          <a class="card-footer-item has-text-link" *ngIf="actividad.isEjecuciones" (click)="openModal(activateModalHistory)">
            <span class="icon is-large ">
              <i class="material-icons" style="font-size: 2rem">view_list</i>
            </span>
          </a>
          <a class="card-footer-item has-text-warning" *ngIf="actividad.isEjecuciones" (click)="getMensajeValoracion(actividad)">
            <span class="icon is-large ">
              <i class="material-icons" style="font-size: 2rem">grade</i>
            </span>
          </a>
          <a class="card-footer-item has-text-link">
            <span class="icon is-large ">
              <i class="material-icons" style="font-size: 2rem">search</i>
            </span>
          </a>
        </footer>
      </div>
    </div>
  </div>
</div>


<!--Modal para la ejecucion -->
<div class="modal" [ngClass]="{'is-active': activarModalFormEjecucion}">
  <div class="modal-background" (click)="toogleFormEjecucion()"></div>
  <div class="modal-card">
    <header class="modal-card-head">

      <p class="modal-card-title">{{opcionSeleccionado?.nombre}}</p>
      <button class="delete" aria-label="close" (click)="toogleFormEjecucion()"></button>
    </header>
    <section class="modal-card-body">
      <form [formGroup]="formEjecucion" (ngSubmit)="saveEjecucion(formEjecucion)">

        <div class="field">
          <div class="control">
            <label for="">Comentarios de Ejecucion:</label>
            <textarea formControlName="comentarioEjecucion" class="textarea"></textarea>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label for="">Denominacion:</label>
            <input type="text" class="input" formControlName="denominacion">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label for="">Unidad:</label>
            <div class="select">
              <select formControlName="unidad">

                <option value="unidad">Unidad</option>
              </select>
            </div>

          </div>
        </div>

        <div class="field">
          <div class="control">
            <label for="">Actual:</label>
            <input type="text" formControlName="actual" class="input">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label for="">Total:</label>
            <input type="text" class="input" formControlName="total">
          </div>
        </div>
        <button class="button is-success" [disabled]="!formEjecucion.valid">Guardar</button>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button" (click)="toogleFormEjecucion()">Cancel</button>
    </footer>
  </div>
</div>
<!---Fin de Modal de Ejecucion-->
<!--Inicio de Modal de Historial de Ejecuciones-->

<div class="modal" [ngClass]="{'is-active': activateModalHistory}">
  <div class="modal-background" (click)="toogleFormEjecucion()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Historial de Ejecuciones</p>
      <button class="delete" aria-label="close" (click)="closeModal(activateModalHistory)"></button>
    </header>
    <section class="modal-card-body">

    </section>
    <footer class="modal-card-foot">
      <button class="button" (click)="closeModal(activateModalHistory)">Cancel</button>
    </footer>
  </div>
</div>
<!--Fin de Modal de Historial de Ejecuciones-->