<div class="row">
  <div class="col-xs-12 col-md-4 margin_25">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <a class="button is-info" (click)="this.getAllActividades(this.idIndice)"> <i class="material-icons">refresh</i>
        </a>
      </div>
    </div>
    <div *ngFor="let l of listaAspectosAmbientales;let i=index ">
      <div class="collapsie">
        <h3 class="collapsie_header has-background-primary box">{{l.nombre}}</h3>
        <div class="body">
          <ul class="ul">
            <li class="li" filtradoNombre [nombre]="items.nombre" [idIndice]="this.idIndice" *ngFor="let items of l.opciones">{{items.nombre}}
            </li>
            <a (click)="seleccionarOpcion(items);resetForm(form);toggleModalFormularioPMAO()" class="button is-info is-small is-pulled-right">Agregar</a>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <div class="col-xs-12 col-md-8">
    <div class="row">
      <div class="col-xs-12 col-md-4 margin_25" *ngFor="let actividad of listaActividades">
        <div class="card">
          <header class="card-header position_relative" [ngClass]="{'has-background-primary': actividad.isResulto}">
            <div class="card-header-title ">
              {{actividad.nombre}}

            </div>
          </header>
          <div class="card-content ">
            <div class="content ">
              {{actividad.comentario}}
            </div>
          </div>
          <footer class="card-footer ">
            <a class="card-footer-item has-text-link" (click)="toogleFormEjecucion()">
              <span class="icon is-large ">
                <i class="material-icons" style="font-size: 2rem">details</i>
              </span>
            </a>
            <a class="card-footer-item has-text-link">
              <span class="icon is-large ">
                <i class="material-icons" style="font-size: 2rem">search</i>
              </span>
            </a>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Modal para la creacion de Aspecto Ambiental-->
<div class="modal" [ngClass]="{'is-active': activarModalFormPMAO}">
  <div class="modal-background" (click)="toggleModalFormularioPMAO()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{opcionSeleccionado?.nombre}}</p>
      <button class="delete" aria-label="close" (click)="toggleModalFormularioPMAO()"></button>
    </header>
    <section class="modal-card-body">
      <form #form="ngForm" (ngSubmit)="save(form)">
        <input class="input" name="nombre" ngModel>
        <div class="field ">
          <label class="label">Condicion</label>
          <div class="control ">
            <div class="select">
              <select name="condicion" id="" required>
                <option value="Normal">Normal</option>
                <option value="Anormal">Anormal</option>
                <option value="Emergencia">Emergencia</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field ">
          <label class="label ">Impacto</label>
          <div class="control ">
            <div class="select">
              <select name="impacto" required #impacto ngModel id="">
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>
          </div>
        </div>
        <div *ngIf="impacto.value=='Si'">
          <div class="field">
            <label class="label ">Severidad</label>
            <div class="control ">
              <div class="select">
                <select name="Severidad" required (change)="calcularClasificacion(form.value)" ngModel id="">
                  <option [ngValue]="severidad" *ngFor="let severidad of serveridadLista">{{severidad.item}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field ">
            <label class="label ">Frecuencia</label>
            <div class="control ">
              <div class="select">
                <select name="Frecuencia" required (change)="calcularClasificacion(form.value)" ngModel id="">
                  <option [ngValue]="frecuencia" *ngFor="let frecuencia of frecuenciaLista">
                    {{frecuencia.item}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field ">
            <label class="label ">Significancia</label>
            <div class="control ">
              <div class="select">
                <select name="Significancia" (change)="calcularClasificacion(form.value)" ngModel id="">
                  <option [ngValue]="significancia" *ngFor="let significancia of significanciLista">{{significancia.icon}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field ">
            <label class="label ">Clasificacion</label>
            <div class="control ">
              <input type="text" class="input" #clasificacion ngModel name="clasificacion" id="">
            </div>
          </div>
          <div class="field ">
            <label class="label ">IMPACTO AMBIENTAL #PMAO #ICA (INTEGRADO CON EL ICA)</label>
            <div class="control ">
              <textarea name="comentario" ngModel id="" class="textarea"></textarea>
            </div>
          </div>
        </div>

        <div class="field is-grouped ">
          <div class="control ">
            <button type="submit " class="button is-success ">
              guardar
            </button>
          </div>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button" (click)="toggleModalFormularioPMAO()">Cancel</button>
    </footer>
  </div>
</div>
<!--Fin de Modal para la creacion de Aspecto Ambiental-->


<!--Modal para la ejecucion -->
<div class="modal" [ngClass]="{'is-active': activarModalFormEjecucion}">
  <div class="modal-background" (click)="toogleFormEjecucion()"></div>
  <div class="modal-card">
    <header class="modal-card-head">

      <p class="modal-card-title">{{opcionSeleccionado?.nombre}}</p>
      <button class="delete" aria-label="close" (click)="toogleFormEjecucion()"></button>
    </header>
    <section class="modal-card-body">
      <form #formEjecucion="ngForm" (ngSubmit)="save(form)">

        <div class="field">
          <div class="control">
            <label for="">Comentarios de Ejecucion:</label>
            <textarea name="comentario_ejecucion" ngModel required id="" class="textarea"></textarea>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label for="">Denominacion:</label>
            <input type="text" class="input" name="denominacion" id="" ngModel required>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label for="">Unidad:</label>
            <input type="text" name="unidad" class="input" id="" ngModel required>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label for="">Actual:</label>
            <input type="text" name="actual" class="input" id="" ngModel required>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label for="">Total:</label>
            <input type="text" class="input" name="total" id="" ngModel>
          </div>
        </div>
        <button class="button is-success" [disabled]="!formEjecucion.valid">Guardar</button>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button" (click)="toogleFormEjecucion()">Cancel</button>
    </footer>
  </div>
</div>
<!---Fin de Modal de Ejecucion-->