<div class="row">
  <div class="col-xs-12 parentCollapsie margin_25">
    <div *ngFor="let aspectoAmbiental of listaAspectosAmbientales;let i=index ">
      <div class="collapsie" #collapsie>
        <h3 class="collapsie_header puntero has-background-primary has-background-link text_title margin_bottom_5rem center_text border_top_left_radius border_top_right_radius"
          (click)="selectionOption(collapsie,aspectoAmbiental.nombre)">{{aspectoAmbiental.nombre}}</h3>
        <div class="body ">
          <ul class="ul">
            <li class="li" *ngFor="let items of aspectoAmbiental.opciones">
              <a (click)="seleccionarOpcion(items);resetFormActividadPMAO();toggleModalFormularioPMAO()" class="button is-info is-small is-pulled-right">Agregar</a>
              <app-sub-activity [idComponent]="items.id" [name]="items.nombre" [idIndice]="this.idIndice"></app-sub-activity>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
<!--Modal para la creacion de Aspecto Ambiental-->
<div class="modal" [ngClass]="{'is-active': activarModalFormPMAO}">
  <div class="modal-background" (click)="toggleModalFormularioPMAO()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{opcionSeleccionado?.nombre}}</p>
      <button class="delete" aria-label="close" (click)="toggleModalFormularioPMAO()"></button>
    </header>
    <section class="modal-card-body">
      <form [formGroup]="actividadPMAOForm" (ngSubmit)="saveActividadPMAO(actividadPMAOForm.value)">
        <input class="input" formControlName="nombre" readonly>
        <div class="field ">
          <label class="label">Condicion</label>
          <div class="control ">
            <div class="select">
              <select formControlName="condicion">
                <option value="Normal">Normal</option>
                <option value="Anormal">Anormal</option>
                <option value="Emergencia">Emergencia</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field ">
          <label class="label ">Impacto</label>
          <div class="control ">
            <div class="select">
              <select formControlName="impacto" #impacto>
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>
          </div>
        </div>
        <div *ngIf="impacto.value=='Si'">
          <div class="field">
            <label class="label ">Severidad</label>
            <div class="control ">
              <div class="select">
                <select formControlName="severidad" (change)="calcularClasificacion(this.actividadPMAOForm.value)">
                  <option [ngValue]="severidad" *ngFor="let severidad of serveridadLista">{{severidad.item}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field ">
            <label class="label ">Frecuencia</label>
            <div class="control ">
              <div class="select">
                <select formControlName="frecuencia" (change)="calcularClasificacion(this.actividadPMAOForm.value)">
                  <option [ngValue]="frecuencia" *ngFor="let frecuencia of frecuenciaLista">
                    {{frecuencia.item}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field ">
            <label class="label ">Significancia</label>
            <div class="control ">
              <div class="select">
                <select formControlName="significancia" (change)="calcularClasificacion(this.actividadPMAOForm.value)">
                  <option [ngValue]="significancia" *ngFor="let significancia of significanciLista">{{significancia.icon}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field ">
            <label class="label ">Clasificacion</label>
            <div class="control ">
              <input type="text" class="input" formControlName="clasificacion" readonly #clasificacion>
            </div>
          </div>
          <div class="field ">
            <label class="label ">IMPACTO AMBIENTAL #PMAO #ICA (INTEGRADO CON EL ICA)</label>
            <div class="control ">
              <textarea formControlName="comentario" class="textarea"></textarea>
            </div>
          </div>
        </div>
        <div class="field is-grouped ">
          <div class="control ">
            <button type="submit" [disabled]="!this.actividadPMAOForm.valid" class="button is-success ">
              guardar
            </button>
          </div>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button" (click)="toggleModalFormularioPMAO()">Cancel</button>
    </footer>
  </div>
</div>