<button (click)="toggleModalParametro()" class="button is-info">Agregar nuevo Parametro</button>
<div class="row">
  <div class="col-xs-12 col-md-4" *ngFor="let parametro of listaParametros | async ;let i=index">
    <div class="card margin_25">
      <header class="card-header">
        <p class="card-header-title">
          {{parametro.nombre}}
        </p>
      </header>
      <div class="card-content">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="content">
              {{parametro.descripcion}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Modal para registro de parametros-->
<div class="modal" [ngClass]="{'is-active':activarFormParametro}">
  <div class="modal-background" (click)="toggleModalParametro()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Registro de Parametros</p>
      <button class="delete" aria-label="close" (click)="toggleModalParametro()"></button>
    </header>
    <section class="modal-card-body">
      <form [formGroup]="formParametro" (submit)="saveParametro(formParametro.value)">
        <div class="field">

          <label class="label">Nombre: </label>
          <div class="control">
            <input class="input" formControlName="nombre" placeholder="nombre del parametro">
          </div>
        </div>
        <div class="field">

          <label class="label">Abreviacion:</label>
          <div class="control">
            <input class="input" type="text" formControlName="nombreCorto">
          </div>
        </div>
        <div class="field">
          <label class="label">U.Medidad:</label>
          <div class="control">
            <input class="input" type="text" formControlName="unidadMedida">
          </div>
        </div>
        <div class="field"><label class="label">Tipo</label></div>
        <div class="select">
          <select formControlName="tipo">
            <option [ngValue]="{nombre:'LMP',id:1}">LMP</option>
            <option [ngValue]="{nombre:'ECA',id:2}">ECA</option>
          </select>
        </div>
        <div class="field">
          <label class="label">Descripcion:</label>
          <div class="control">
            <textarea class="textarea" formControlName="descripcion"></textarea>
          </div>
        </div>
        <div class="field">

          <label class="label">Valor maximo: </label>
          <div class="control">
            <input class="input" type="number" formControlName="valor_maximo" placeholder="No debe pasar de este valor">
          </div>
        </div>
        <div class="field">

          <label class="label">Valor Minimo: </label>
          <div class="control">
            <input class="input" type="number" formControlName="valor_minimo">
          </div>
        </div>

        <div class="field"><label class="label">Categoria</label></div>
        <div class="select">
          <select formControlName="categoria">
            <option [ngValue]="categoria" *ngFor="let categoria of listaCategoria">{{categoria.nombre}}</option>
          </select>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button type="submit" [disabled]="!this.formParametro.valid" class="button is-success ">
              Guardar
            </button>
          </div>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button" (click)="toggleModalParametro()">Cancelar</button>
    </footer>

  </div>
</div>
<!--Fin de modal para registro registros-->


<!--Mostrar los parametros registrados -->

<!--Fin Mostrar parametros registrados-->

<!--Editar los parametros registrados-->
<!--Fin Editar parametros registrados-->

<!--Eliminar los parametros registrados-->
<!--Fin Eliminar parametros registrados-->