<agm-map [panControl]="true" [zoom]=11 [disableDefaultUI]="true" [mapTypeId]="'hybrid'" [latitude]="this.latitudCenter"
  [mapTypeControl]="true" [longitude]="this.longitudCenter">

  <agm-polygon id="Molienda" [paths]="poligonMoliendaCoords"  (polyClick)="mostrarMensaje()" [visible]=options.visible
    fillOpacity="0" strokeColor="yellow" zIndex=50></agm-polygon>
  <agm-polygon [paths]="poliginoPerforacionCoords" (polyClick)="mostrarMensaje()" [visible]=options.visibler zIndex=150
    opacity="0" strokeColor="brown"></agm-polygon>
  <agm-polygon [paths]="poligonoantaminaCoords" (polyClick)="mostrarMensaje()" fillOpacity="0" [visible]=options.visible
    strokeColor="red" zIndex=100></agm-polygon>
  <agm-polygon [paths]="poligonoPuertoAntaminaCoords" strokeColor="skyblue" opacity="0" [visible]=options.visible></agm-polygon>
  <agm-polyline *ngFor="let point of  tuberiaCoordinates;let i = index;" fillColor="#84ffff">

  </agm-polyline>
  <agm-polygon [paths]="tuberiaCoordinates" (polyClick)="mostrarMensaje()" [visible]=options.visible fillOpacity="0"
    strokeColor="#808080"></agm-polygon>
  <agm-polygon [paths]="flotacionCoords" (polyClick)="mostrarMensaje()" [visible]=options.visible fillOpacity="0"
    fillColor="#84ffff"></agm-polygon>
  <agm-polygon [paths]="relaveCoords" (polyClick)="mostrarMensaje()" [visible]=options.visible fillOpacity="0"
    strokeColor="blue"></agm-polygon>
  <agm-marker [longitude]="incidencia.longitud" [latitude]="incidencia.latitud" *ngFor="let incidencia of (listaIncidencia | async)">
    <agm-info-window>
      <strong>incidencia:</strong> {{incidencia.detalle}}
      <strong>tipo:</strong>{{incidencia.tipoIncidencia.tipo}}
    </agm-info-window>
  </agm-marker>

</agm-map>
<div class="row">
  <div class="col-xs-12">

  </div>

</div>
<div class="legend">
  <div id="titulo">
    <h3>LEYENDA</h3>
  </div>
  <ul>

    <li (click)="mostrarMensaje()"><i class="material-icons color_marron">fiber_manual_record</i>Perforacion y Voladura</li>
    <li (click)="mostrarMensaje()"><i class="material-icons color_amarillo">fiber_manual_record</i>Molienda </li>
    <li (click)="mostrarMensaje()"><i class="material-icons color_rojo">fiber_manual_record</i>Antamina </li>
    <li (click)="mostrarMensaje()"><i class="material-icons color_celeste">fiber_manual_record</i>Puerto Antamina </li>
    <li (click)="mostrarMensaje()"><i class="material-icons color_azul">fiber_manual_record</i>Relave </li>
    <li (click)="mostrarMensaje()"><i class="material-icons color_negro">fiber_manual_record</i>Flotacion </li>
    <li (click)="mostrarMensaje()"><i class="material-icons color_gray">fiber_manual_record</i>Carretera </li>

  </ul>
</div>