agm-map{
     height: 90%;
}

.legend {
     opacity: .8;
     font-family: Arial, sans-serif;
     background: #fff;
     padding: 2%;
     margin-left: 2%;
     border: 1px solid green;
     position: absolute;
     bottom: 30px;
     left: 0px;
     
}

.legend ul li{
     line-height: 12px;
  font-size: .9rem;
     color: #000;
     display: flex;
     align-items: center;
}
.color_celeste{
     color: skyblue;
}
.color_rojo{
 color: red;
}
.color_marron{
     color: brown;
}
.color_azul{
     color: blue;
}
.color_amarillo{
     color: yellow;
}

.color_negro{
 color: black;    
}
.color_gray{
     color: gray;
}
#titulo h3{
     margin-top: 0;
     text-align: center;
     font-weight: bold;
     color: black;
}
