<agm-map [panControl]="true"  [zoom]=11  [disableDefaultUI]="true" [mapTypeId]="'hybrid'" [latitude]="this.latitudCenter" [mapTypeControl]="true" [longitude]="this.longitudCenter">
  <agm-polygon [paths]="poligonMoliendaCoords" [visible]=options.visible fillOpacity="0" strokeColor="yellow" zIndex=50></agm-polygon>
  <agm-polygon [paths]="poliginoPerforacionCoords" (polyClick)="clickPoligono('D8a5UgSogRhTreAED5BG')" [visible]=options.visibler
    zIndex=150 opacity="0" strokeColor="brown"></agm-polygon>
  <agm-polygon [paths]="poligonoantaminaCoords" fillOpacity="0" [visible]=options.visible strokeColor="red" zIndex=100></agm-polygon>
  <agm-polygon [paths]="poligonoPuertoAntaminaCoords" strokeColor="skyblue" opacity="0" [visible]=options.visible></agm-polygon>
  <agm-polyline ngFor="let point of tuberiaCoordinates;let i = index;">

  </agm-polyline>
  <agm-polygon [paths]="flotacionCoords" [visible]=options.visible fillOpacity="0" fillColor="#84ffff"></agm-polygon>
  <agm-polygon [paths]="relaveCoords" [visible]=options.visible fillOpacity="0" strokeColor="blue"></agm-polygon>
  <agm-marker [longitude]="incidencia.longitud" [latitude]="incidencia.latitud" *ngFor="let incidencia of (listaIncidencia | async)">
    <agm-info-window>
      <strong>incidencia:</strong> {{incidencia.detalle}}
      <strong>tipo:</strong>{{incidencia.tipoIncidencia.tipo}}
    </agm-info-window>
  </agm-marker>
</agm-map>
<a routerLink="../dashboard" routerLinkActive="router-link-active">Link</a>