<div class="login-box">
  <img src="../../assets/img_login/logo.png" class="avatar" alt="Avatar Image">
  <h1>Iniciar  Sesión</h1>
  <form [formGroup]="user" (ngSubmit)="logIn()">
    <label for="username">Correo</label>
    <input type="email" formControlName="email" placeholder="ingrese su correo">
    <label for="password">Contraseña</label>
    <input type="password" formControlName="password" placeholder="ingrese contraseña">
    <button type="submit" [disabled]="!user.valid">Ingresar</button>
  </form>
  
</div>