<block-ui>
  <div class="row">
    <div class="col-xs-12 col-md-6 ">
      <div class="field is-grouped">
        <p class="control">
          <a (click)="toggleFormIncidencia()" class="button is-info is-outlined is-rounded">Registrar incidencia</a>
        </p>
      </div>
    </div>
  </div>

  <!--Modal para registro de incidencias-->
  <div class="modal " [ngClass]="{ 'is-active':activarFormIncidencia} ">
    <div class="modal-background " (click)="toggleFormIncidencia() "></div>
    <div class="modal-card ">
      <header class="modal-card-head ">
        <p class="modal-card-title ">Registro de Incidencia</p>
        <button class="delete " aria-label="close " (click)="toggleFormIncidencia()"></button>
      </header>
      <section class="modal-card-body ">
        <form [formGroup]="incidenciaForm " (submit)="saveIncidencia(incidenciaForm.value) ">
          <div class="field ">

            <label class="label ">Detalle de la Incidencia</label>
            <div class="control ">
              <textarea class="textarea " formControlName="detalle" placeholder="lo que se va a hacer "></textarea>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <div class="custom-file-container" data-upload-id="template">
                <label>Fotos:<a href="javascript:void(0)" class="custom-file-container__image-clear"
                    title="Clear Image">x</a></label>
                <label class="custom-file-container__custom-file">
                  <input type="file" formControlName="files"
                    class="custom-file-container__custom-file__custom-file-input" accept="image/*" multiple>
                  <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
                  <span class="custom-file-container__custom-file__custom-file-control"></span>
                </label>
                <div class="custom-file-container__image-preview"></div>
              </div>
            </div>
          </div>
          <div class="select ">
            <select formControlName="tipoIncidencia">
              <option [ngValue]="tipoIncidenica" *ngFor="let tipoIncidenica of (listaTipoIncidencias | async )">
                {{tipoIncidenica.tipo}}</option>
            </select>
          </div>
          <footer class="modal-card-foot ">
            <button type="submit " [disabled]="!this.incidenciaForm.valid " class="button is-success ">
              guardar
            </button>
            <button class="button " (click)="toggleFormIncidencia() ">Cancel</button>
          </footer>
        </form>
      </section>
    </div>
  </div>

  <!--mostrar lista de incidencias sucedidas-->
  <div class="row around-xs">
    <div class="col-xs-12 col-md-4 margin_25"
      *ngFor="let incidencia of (listaIncidencia | async) |  paginate:{itemsPerPage:5,currentPage:actualPagina}">
      <div class="card">
        <header class="card-header posit  ion_relative">
          <div class="card-header-title ">
            <div> <span class="has-text-dark">
                {{ incidencia.fecha_registro["seconds"]*1000 | date:'medium' }}
              </span>
            </div>
            <a class="card-footer-item has-text-link"
              (click)="seleccionarActividad(actividad);toggleModalEstadistica();getResultadoEstadisticoFindIdActividad(actividad)">
              <span class="icon is-large ">
                <i class="material-icons" style="font-size: 2rem "
                  [ngStyle]="{'color':colorIncidencia(incidencia)}">report</i>
              </span>
            </a>

          </div>

        </header>
        <div class="card-content ">
          <div> <span class="has-text-dark">
              {{ incidencia.detalle }}
            </span>
          </div>
        </div>
        <footer class="card-footer ">
          <a (click)="setIncidencia(incidencia);toggleModalIncidencia()" class="card-footer-item "><i
              class="material-icons">
              account_circle
            </i></a>
        </footer>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4  col-md-offset-8">
      <pagination-controls class="pgination" (pageChange)="actualPagina = $event" responsibe="true"
        screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
      </pagination-controls>
    </div>
  </div>


</block-ui>

<!--modalVistaPersonalReporteIncidencias-->

<div class="modal " [ngClass]="{ 'is-active':activarModalIncidencia} ">
  <div class="modal-background " (click)="toggleModalIncidencia() "></div>
  <div class="modal-card ">
    <header class="modal-card-head ">
      <p class="modal-card-title ">Persona Responsable</p>
      <button class="delete " aria-label="close " (click)="toggleModalIncidencia() "></button>
    </header>
    <section class="modal-card-body " *ngIf="incidenciaSeleccionada">
      <table class="table">
        <thead>
          <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Cargo</th>
            <th>Área</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{incidenciaSeleccionada.persona.nombre}}</td>
            <td>{{incidenciaSeleccionada.persona.apellidos}}</td>
            <td>{{incidenciaSeleccionada.persona.gerencia.nombre}}</td>
            <td>{{incidenciaSeleccionada.persona.area.area}}</td>
          </tr>
        </tbody>
      </table>

    </section>
    <footer class="modal-card-foot ">
      <button class="button " (click)="toggleModalIncidencia() ">Cancel</button>
    </footer>
  </div>
</div>
