<block-ui>
  <div class="row">
    <div class="col-xs-12 col-md-6 ">
      <div class="field is-grouped">
        <p class="control">
          <a (click)="toggleModalActividad()" class="button is-info is-outlined is-rounded">Nueva Actividad</a>
        </p>
      </div>
    </div>
  </div>
  <div class="row around-xs">
    <div class="col-xs-12 col-md-4 margin_25" *ngFor="let actividad of (listaActividades | async)">
      <div class="card">
        <header class="card-header position_relative" [ngClass]="{'has-background-primary': actividad.isResulto}">
          <div class="card-header-title ">
            <div class="position_absolute right padding_2  border_radius_10">
              <a (click)="seleccionarActividad(actividad);getAllResultadoFindIdActividad();toggleModalHistorialResultado()"
                [ngClass]="{'disabled':!actividad.isResultado}">
                <i class="material-icons has-text-primary">receipt</i>
              </a>
              <i class="material-icons has-text-primary">{{actividad.componente.nombre=='MONITOREO
                EN CAMPO'?'explore':'event_note'
                }}</i></div>
            <span class="has-text-dark">
              {{ actividad.fecha_inicio.toDateString() | date:'mediumDate'}}
              <strong> - </strong>
            </span>
            <span *ngIf="actividad.fecha_fin">
              {{actividad.fecha_fin.toDateString() | date :'mediumDate' }}
            </span>
            <a (click)="getAllIncidenciaFindIdActividad(actividad.id) ;toggleModalListaIncidencia()"><i class="material-icons is-pulled-right has-text-warning ">{{
                actividad.incidencia? 'alarm_on':''}}
              </i></a>
            <a (click)="getAllIncidenciaFindIdActividad(actividad.id) "><i class="material-icons is-pulled-right has-text-warning ">{{
                actividad.parametro? ' format_list_bulleted ':''}}
              </i></a>

          </div>
          <a href="# " class="card-header-icon " aria-label="more options ">
            <span class="icon ">
              <i class="fas fa-angle-down " aria-hidden="true "></i>
            </span>
          </a>
        </header>
        <div class="card-content ">
          <div class="content ">
            {{actividad.actividad}}

          </div>
        </div>
        <footer class="card-footer ">
          <a (click)="seleccionarActividad(actividad);getAllParametros()" class="card-footer-item "><i class="material-icons">
              format_list_bulleted
            </i></a>
          <a class="card-footer-item has-text-success" [ngClass]="{'disabled':!actividad.isParametro}" (click)="seleccionarActividad(actividad);getAllParametroFindIdActividad(actividad.id);toggleModalResultado()">
            <span class="icon is-large ">
              <i class="material-icons" style="font-size: 2rem">receipt</i>
            </span>
          </a>
          <a class="card-footer-item has-text-link" [ngClass]="{'disabled':!actividad.isResultado}" (click)="seleccionarActividad(actividad);toggleModalEstadistica();getResultadoEstadisticoFindIdActividad(actividad)">
            <span class="icon is-large ">
              <i class="material-icons" style="font-size: 2rem">show_chart</i>
            </span>
          </a>
          <a class="card-footer-item has-text-warning" (click)="seleccionarActividad(actividad);toggleModalIncidencia(); ">
            <span class="icon is-large ">
              <i class="material-icons" style="font-size: 2rem">assignment</i>
            </span>
          </a>
        </footer>
      </div>
    </div>
  </div>


  <!--Modal para el registro de actividades-->
  <div class="modal " [ngClass]="{ 'is-active':activarFormActividad} ">
    <div class="modal-background " (click)="toggleModalActividad() "></div>
    <div class="modal-card ">
      <header class="modal-card-head ">
        <p class="modal-card-title ">Registro de Actividad</p>
        <button class="delete " aria-label="close " (click)="toggleModalActividad() "></button>
      </header>
      <section class="modal-card-body ">
        <form [formGroup]="actividadForm " (submit)="saveActividad(actividadForm.value) ">
          <div class="field">
            <label for="" class="label">Tipo de Actividad</label>
            <div class="control">
              <div class="select ">
                <select formControlName="componente" (change)="changeOptionsComponent()">
                  <option [ngValue]="componente" *ngFor="let componente of listaDeComponentes | async ">{{componente.nombre}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field ">
            <label class="label ">Actividad</label>
            <div class="control ">
              <textarea class="textarea " formControlName="actividad" placeholder="lo que se va a hacer "></textarea>
            </div>
          </div>
          <div class="field " *ngIf="optionAtivity=='MONITOREO Y LABORATORIO'">
            <label class="label ">Fecha de realizacion</label>
            <div class="control ">
              <input class="input" type="date" formControlName="fecha_inicio">
            </div>
          </div>
          <div class="field" *ngIf="optionAtivity=='MONITOREO Y LABORATORIO'">
            <label class="label">Fecha de finalizacion</label>
            <div class="control">
              <input class="input " type="date" formControlName="fecha_fin">
            </div>
          </div>
          <footer class="modal-card-foot ">
            <a class="button " (click)="toggleModalActividad() ">Cancel</a>
            <button type="submit " [disabled]="!this.actividadForm.valid " class="button is-success ">
              guardar
            </button>
          </footer>
        </form>
      </section>
    </div>
  </div>
  <!--Fin de Modal para registro de actividades-->
  <!--Modal Lista de incidencias-->
  <div class="modal " [ngClass]="{ 'is-active':activarListaIncidencia} ">
    <div class="modal-background " (click)="toggleModalListaIncidencia() "></div>
    <div class="modal-card ">
      <header class="modal-card-head ">
        <p class="modal-card-title ">Lista de Incidencias</p>
        <button class="delete " aria-label="close " (click)="toggleModalListaIncidencia() "></button>
      </header>
      <section class="modal-card-body ">
        <table class="table  is-fullwidth">
          <thead>
            <tr>
              <th>
                Orden
              </th>
              <th>
                Detalle
              </th>
              <th>Riesgo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let incidencia of (listaIncidencia | async);let i=index">
              <th>{{i+1}}</th>
              <td>{{incidencia.detalle}}</td>
              <td>{{incidencia.tipoIncidencia.tipo}}
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>
                Orden
              </th>
              <th>
                Detalle
              </th>
              <th>Riesgo</th>
            </tr>

          </tfoot>
        </table>
      </section>
      <footer class="modal-card-foot ">

        <button class="button " (click)="toggleModalListaIncidencia() ">Cancel</button>
      </footer>

    </div>
  </div>
  <!--fin de Modal lista de incidencias-->
  <!--Modal para realizar activida-->
  <div class="modal" [ngClass]="{'is-active': activarModalResultado}">
    <div class="modal-background " (click)="toggleModalResultado() "></div>
    <div class="modal-card ">
      <header class="modal-card-head ">
        <p class="modal-card-title ">Registro de Resultados</p>
        <button class="delete " aria-label="close " (click)="toggleModalResultado() "></button>
      </header>
      <section class="modal-card-body ">
        <table class="table is-hoverable is-narrow ">
          <thead>
            <tr>
              <th>
                Orden
              </th>
              <th>
                Nombre
              </th>
              <th>Valor</th>
              <th>Unidad</th>
              <th>Foto</th>
            </tr>

          </thead>
          <tbody>
            <tr *ngFor="let parametro of listaParametros;let i=index">
              <th>{{i+1}}</th>
              <td>{{parametro.nombre}}-{{parametro.nombreCorto}}</td>
              <td>
                <input type="number" class="input" [(ngModel)]="parametro.resultado" name="" id="">
              </td>
              <td>{{parametro.unidadMedida}}</td>
              <td>FOTO</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>
                Nombre
              </th>
              <th>Valor</th>
              <th>Unidad</th>
              <th>Foto</th>
            </tr>

          </tfoot>
        </table>

      </section>
      <footer class="modal-card-foot ">
        <button class="button is-success" (click)="guardarResultado()">Guardar</button>
        <a class="button " (click)="toggleModalResultado() ">Cancel</a>
      </footer>

    </div>
  </div>
  <!--Fin de Modal para realizar Actividad-->
  <!--Modal para registro de incidencias-->
  <div class="modal " [ngClass]="{ 'is-active':activarFormIncidencia} ">
    <div class="modal-background " (click)="toggleModalIncidencia() "></div>
    <div class="modal-card ">
      <header class="modal-card-head ">
        <p class="modal-card-title ">Registro de Incidencia</p>
        <button class="delete " aria-label="close " (click)="toggleModalIncidencia() "></button>
      </header>
      <section class="modal-card-body ">
        <form [formGroup]="incidenciaForm " (submit)="saveIncidencia(incidenciaForm.value) ">
          <div class="field ">

            <label class="label ">Detalle de la Incidencia</label>
            <div class="control ">
              <textarea class="textarea " formControlName="detalle" placeholder="lo que se va a hacer "></textarea>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <div class="custom-file-container" data-upload-id="template">
                <label>Fotos:<a href="javascript:void(0)" class="custom-file-container__image-clear" title="Clear Image">x</a></label>
                <label class="custom-file-container__custom-file">
                  <input type="file" formControlName="files" class="custom-file-container__custom-file__custom-file-input"
                    accept="image/*" multiple>
                  <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
                  <span class="custom-file-container__custom-file__custom-file-control"></span>
                </label>
                <div class="custom-file-container__image-preview"></div>
              </div>
            </div>
          </div>
          <div class="select ">
            <select formControlName="tipoIncidencia">
              <option [ngValue]="tipoIncidenica" *ngFor="let tipoIncidenica of (listaTipoIncidencias | async )">{{tipoIncidenica.tipo}}</option>
            </select>
          </div>
          <footer class="modal-card-foot ">
            <button type="submit " [disabled]="!this.incidenciaForm.valid " class="button is-success ">
              guardar
            </button>
            <a class="button " (click)="toggleModalIncidencia() ">Cancel</a>
          </footer>
        </form>
      </section>
    </div>
  </div>


  <!--Fin de modal para registro e incidencias-->

  <!--Inicio de Modal de Lista de parametros-->
  <div class="modal " [ngClass]="{ 'is-active':activarModalParametro} ">
    <div class="modal-background " (click)="toggleModalParametro() "></div>
    <div class="modal-card ">
      <header class="modal-card-head ">
        <p class="modal-card-title ">Lista de Parametros</p>
        <button class="delete " aria-label="close " (click)="toggleModalParametro() "></button>
      </header>
      <section class="modal-card-body ">
        <div class="card margin_25" *ngFor="let parametro of listaParametros;let i=index">
          <header class="card-header">
            <p class="card-header-title">
              {{parametro.nombre}}
            </p>
            <div class="card-header-icon" aria-label="more options">
              <input type="checkbox" #check (change)="cambioEstadoInput(check,i,parametro)">
            </div>
          </header>
          <div class="card-content">
            <div class="content">
              {{parametro.descripcion}}
            </div>
          </div>

        </div>
      </section>
      <footer class="modal-card-foot ">
        <button class="button is-success" (click)="saveParametroFromIdActividadAndIdArea()" [disabled]="this.listParametrosSeleccionados.length==0">Agregar
          parametros</button>
        <button class="button " (click)="toggleModalParametro() ">Cancel</button>

      </footer>

    </div>
  </div>

  <!--Fin de Modal de Lista de Parametros-->
  <!--Modal para mostrar Estadistica-->
  <div class="modal" [ngClass]="{'is-active': activarModalEstadistica}">
    <div class="modal-background " (click)="toggleModalEstadistica() "></div>
    <div class="modal-card ">
      <header class="modal-card-head ">
        <p class="modal-card-title ">Estadistica de la actividad:{{actividadSeleccionada?.actividad}}
        </p>
        <button class="delete " aria-label="close " (click)="toggleModalEstadistica() "></button>
      </header>

      <section class="modal-card-body ">
        <div *ngIf="lineChartData">
          <canvas baseChart [datasets]="lineChartData" chartType="line"></canvas>
        </div>
      </section>
      <footer class="modal-card-foot ">
        <button class="button " (click)="toggleModalEstadistica() ">Cancel</button>
      </footer>

    </div>
  </div>
  <!--Fin de Modal de estadistica-->
  <!--Inicio del Modal Para Mostrar el Historial de resutado-->
  <div class="modal " [ngClass]="{ 'is-active':actividadModalHistorialResultado} ">
    <div class="modal-background " (click)="toggleModalHistorialResultado() "></div>
    <div class="modal-card ">
      <header class="modal-card-head ">
        <p class="modal-card-title ">Lista Resultado</p>
        <button class="delete " aria-label="close " (click)="toggleModalHistorialResultado() "></button>
      </header>
      <section class="modal-card-body ">
        <table class="table  is-fullwidth">
          <thead>
            <tr>
              <th>
                Fecha
              </th>
              <th>
                Parametro
              </th>
              <th>
                Resultado
              </th>
              <th>Riesgo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let resultado of  listResultadoHistorial ;let i=index">
              <th class="font_weigh_none">{{resultado["parametro"]["nombreCorto"] }}</th>
              <th class="font_weigh_none">{{resultado["resultado"] }}</th>
              <th class="font_weigh_none">{{resultado["cumplio"]? resultado["riesgo"]:'INCUMPLIO' }}</th>
            </tr>
          </tbody>
        </table>
      </section>
      <footer class="modal-card-foot ">
        <button class="button " (click)="toggleModalHistorialResultado() ">Cancel</button>
      </footer>

    </div>
  </div>
  <!--Fin del Modal para mostrar el Historial de resultado-->

</block-ui>
